<div class="container">
  <!-- <div class="row">
    <div class="col">
      <h3 class="text-muted">Topic is {{ title.toUpperCase()}} </h3>
      <h3 class="text-muted">Topic is {{titleInfo()}} </h3>
      <h3 class="text-muted">Log of 100 {{mathOp()}} </h3>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div>
        <input [type]="typ" [value]="title">
      </div>
      <div>
        <input type="text" [style.border]="'1px solid red'" [style.color]="'red'">
      </div>
      <div>
        <input type="text" [class.onlyRed]="false">
      </div>
      <div [style.width.px]="800">
        <input type="text" [class.alert]="isIpAl" [class.alert-info]="isIpAl">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <input type="text" [style.font-weight]="fntWt">
    </div>
    <div class="col">
      <input type="button" value="Increase" class="btn btn-info" (click)="clk(1)">
      <input type="button" value="Decrease" class="btn btn-danger" (click)="clk(2)">
    </div>
  </div>
  <app-project-concept>

  </app-project-concept> -->
  <app-cmp1></app-cmp1>
  <app-cmp2></app-cmp2>
</div>