<form class="container-fluid" [formGroup]="fg" (ngSubmit)="onQuotation()">
    <div class="form-row mt-3 border p-3" formGroupName="userInfo">
        <div class="col">
            <label for="yourName">Your Name</label>
            <input type="text" placeholder="Your name" class="form-control" id="yourName" formControlName="yourName">
        </div>
        <div class="col">
            <label for="company">Company</label>
            <input type="text" placeholder="Company" class="form-control" id="company" formControlName="company">
        </div>
        <div class="col">
            <label for="mobile">Mobile</label>
            <input type="text" placeholder="Mobile" class="form-control" id="mobile" formControlName="mobile">
        </div>
        <div class="col">
            <label for="email">Email</label>
            <input type="text" placeholder="Email" class="form-control" id="email" formControlName="email">
        </div>
    </div>
    <div class="form-row mt-3 border p-3" formGroupName="productInfo">
        <div class="col">
            <label for="products">Products</label>
            <select class="form-control" formControlName="product">
                <option value="laptop">Laptop</option>
                <option value="phone">Phone</option>
                <option value="mouse">Mouse</option>
                <option value="keyboard">Keyboard</option>
                <option value="smps">SMPS</option>
                <option value="cabinet">Cabinet</option>
                <option value="bag">Bag</option>
            </select>
        </div>
        <div class="col">
            <label for="qty">Quantity</label>
            <input type="text" placeholder="Qty" class="form-control" id="qty" formControlName="qty">
        </div>
        <div class="col">
            <label for="price">Price</label>
            <input type="text" placeholder="Price" class="form-control" id="price" formControlName="price">
        </div>

        <div class="col">
            <label for="tax">Tax</label>
            <input type="text" placeholder="Tax" class="form-control" id="tax" formControlName="tax">
        </div>
        <div class="col">
            <label for="">&nbsp;</label>
            <div>
                <input type="button" value="Add" class="btn btn-primary">
            </div>
        </div>
    </div>
    <div class="form-row mt-3">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Product</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Price</th>
                    <th scope="col">Tax</th>
                    <th scope="col">Total</th>
                </tr>
            </thead>
            <tbody>
                <tr formArrayName="products" *ngFor="let prd of fg.get('products').value; let i = index;">
                    <td>{{i+1}}</td>
                    <td>{{prd.product}}</td>
                    <td>{{prd.qty}}</td>
                    <td>{{prd.price}}</td>
                    <td>{{prd.tax}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="form-row mt-3">
        <input type="submit" value="Submit" class="btn btn-primary">
    </div>
</form>