<table class="table table-bordered mt-5">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Item</th>
            <th scope="col">Qty</th>
            <th scope="col">Unit Price</th>
            <th scope="col">Tax</th>
            <th scope="col">Total</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let qt of quotations; let ind = index;">
            <th scope="row">{{ind+1}}</th>
            <td>{{qt.item}}</td>
            <td>{{qt.qty}}</td>
            <td>{{qt.unitPrice}}</td>
            <td>{{qt.tax}}</td>
            <td>{{(qt.unitPrice * qt.qty) + qt.tax}}</td>
        </tr>
    </tbody>
</table>