<div class="row border mt-3">
    <div class="col">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit fuga ratione perspiciatis vero dolorem sapiente
            aspernatur, nobis temporibus distinctio vitae modi doloribus reprehenderit soluta cupiditate porro veniam a?
            Minima, dolorem?</p>
        <div class="progress mb-2">
            <div class="progress-bar" role="progressbar" [style.width.%]="progress" [aria-valuenow]="progress"
                aria-valuemin="0" aria-valuemax="100">{{progress}}%</div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <ng-content></ng-content>
    </div>
</div>