<div class="container mt-5">
    <div class="row">
        <div class="col">
            <h4 [ngClass]="{ 'text-danger' : frm.invalid, 'text-success' : frm.valid  }"> Template Driven Forms </h4>
        </div>
    </div>
    <form class="needs-validation" #frm="ngForm" (ngSubmit)="frmSub(frm)">
        <div class="form-row">
            <div class="col-md-4 mb-3">
                <label for="validationTooltip01">First name</label>
                <input type="text" class="form-control" id="validationTooltip01" name="firstName"
                    placeholder="First name" value="Mark" required #firstName="ngModel" ngModel>
                <div class="text-danger" *ngIf="firstName.invalid">
                    first name is required
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <label for="validationTooltip02">Last name</label>
                <input type="text" class="form-control" id="validationTooltip02" name="lastName" placeholder="Last name"
                    value="Otto" required #lastName="ngModel" ngModel>
                <div class="text-danger" *ngIf="lastName.invalid">
                    last name is required
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <label for="validationTooltipUsername">Username</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="validationTooltipUsernamePrepend">@</span>
                    </div>
                    <input type="text" class="form-control" id="validationTooltipUsername" name="userName"
                        placeholder="Username" aria-describedby="validationTooltipUsernamePrepend" required
                        [pattern]="re" #userName="ngModel" ngModel>

                </div>
                <div class="text-danger" *ngIf="userName.errors?.required">
                    Username required
                </div>
                <div class="text-danger" *ngIf="userName.errors?.pattern">
                    Please choose a valid username.
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-6 mb-3">
                <label for="validationTooltip03">City</label>
                <input type="text" class="form-control" id="validationTooltip03" name="city" placeholder="City" required
                    #city="ngModel" ngModel>
                <div class="text-danger" *ngIf="city.invalid">
                    Please provide a valid city.
                </div>
            </div>
            <div class="col-md-3 mb-3">
                <label for="validationTooltip04">State</label>
                <input type="text" class="form-control" id="validationTooltip04" name="state" placeholder="State"
                    required #state="ngModel" ngModel>
                <div class="text-danger" *ngIf="state.invalid">
                    Please provide a valid state.
                </div>
            </div>
            <div class="col-md-3 mb-3">
                <label for="validationTooltip05">Zip</label>
                <input type="text" class="form-control" id="validationTooltip05" name="zip" placeholder="Zip" required
                    #zip="ngModel" ngModel>
                <div class="text-danger" *ngIf="zip.invalid">
                    Please provide a valid zip.
                </div>
            </div>
        </div>
        <button class="btn btn-primary" type="submit">Submit form</button>
    </form>
</div>