<div class="chat-window">
    <div class="one">
        <div>ONE</div>
        <div>ONE</div>
        <div>ONE</div>
        <div>ONE</div>
    </div>
    <div class="two">
        <div>TWO</div>
        <div>TWO</div>
        <div>TWO</div>
        <div>TWO</div>
        <div>TWO</div>
        <div>TWO</div>
        <div>TWO</div>
        <div>TWO</div>
        <div>TWO</div>
        <div>TWO</div>
        <div>TWO</div>
        <div>TWO</div>
        <div>TWO</div>
        <div>TWO</div>
        <div>TWO</div>
        <div>TWO</div>
        <div>TWO</div>
        <div>TWO</div>
        <div>TWO</div>
        <div>TWO</div>
        <div>TWO</div>
        <div>TWO</div>
        <div>TWO</div>
        <div>TWO</div>
        <div>TWO</div>
        <div>TWO</div>
        <div>TWO</div>
        <div>TWO</div>
    </div>
    <div class="three">
        <div>THREE</div>
        <div>THREE</div>
        <div>THREE</div>
        <div>THREE</div>
        <div>THREE</div>
        <div>THREE</div>
        <div>THREE</div>
        <div>THREE</div>
        <div>THREE</div>
        <div>THREE</div>
        <div>THREE</div>
        <div>THREE</div>
        <div>THREE</div>
        <div>THREE</div>
        <div>THREE</div>
        <div>THREE</div>
        <div>THREE</div>
        <div>THREE</div>
        <div>THREE</div>
        <div>THREE</div>
    </div>
</div>