<div class="container">
  <div class="row">
    <div class="col">
      <p> Date is <u>{{dt|date:"dd MMM yyyy"|uppercase}}</u> </p>
      <p> Title is <u>{{title | uppercase}}</u> </p>
      <p> Price is <u>{{price | number:'1.0-2' | currency:'INR' }}</u> </p>
      <p> Custom is <u>{{title | fu:2:3:4:5 }}</u> </p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <input type="text" placeholder="Search" [(ngModel)]="sortKey">
    </div>
    <div class="col">
      <input type="text" placeholder="Os Name">
      <input type="text" placeholder="Price">
      <input type="button" class="btn btn-sm btn-primary" value="Add">
    </div>
  </div>
  <div class="row">
    <div class="col">
      <ul>
        <li *ngFor="let mob of (mobiles | filter :sortKey)">{{mob.name}}</li>
      </ul>
    </div>
  </div>
</div>